body {
  padding: 5%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

h4, .h4 {
  font-size: 1.3rem;
  display: inline-flex;
}

.star {
  margin-right: 10px;
}

.link {
  position: absolute;
  left: 30px;
  top: 30px;
}

.search-header {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.search-form > input {
  margin-right: 5px;
}

.search-form > label {
  font-size: 1.3rem;
}

img.back-icon {
  width: 2rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

@media (min-width: 768px) { 
  .search-wrapper {
    width: 85%;
    margin: auto;
  }
 }

 .recipe-card {
  width: 220px;
  margin: 1rem;
 }